/* ==========================================
   Responsive
========================================== */

@media(max-width:1100px){

.nav-container{

flex-wrap:wrap;

}

}

@media(max-width:900px){

.nav-menu{

display:none;

}

.nav-menu.show{

display:flex;

flex-direction:column;

width:100%;

}

.nav-user{

display:none;

}

}

@media(max-width:700px){

.container{

padding:15px;

}

.ui-stats{

grid-template-columns:1fr;

}

.footer-content{

flex-direction:column;

text-align:center;

}

}
